/* タイトル名のaタグ */
td a{
    color: rgb(119, 119, 194);
    font-weight: bold;
}


/* 登録・更新フォーム */
.validation-mark{
    color: red ;
}
.detail-area{
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 200px; /* 最大幅を設定 */
    white-space: nowrap; /* テキストを折り返さない */
    overflow: hidden; /* はみ出たテキストを隠す */
    text-overflow: ellipsis; /* はみ出た部分に省略記号を表示 */
}

/* 戻るボタン */
.btn-back {
    width: fit-content;
	padding: 0.5rem 1rem;
	background: #acacac;
	color: #fff;
    text-decoration: none;
    border: none;
	border-radius: 10px;
	transition: 0.15s;
}
.btn-back:hover {
	background: #7a7a7a;
	color: #fff;
}
.card-area a {
  text-decoration: none;  
}
.card {
    width: 18rem;
    cursor: pointer;
}
.card-body{
    background-color: #fff;
    height: 110px;
    overflow: hidden;
    position: relative;
}
.card-body::before{
    position: absolute;
    bottom: 0px;
    display: block;
    content: "";
    height: 27px;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0) 0%, #ffffff 95%, #ffffff 100%);
}
.card-title {
    font-weight: bold;
}
.card:hover .card-title {
    color: rgb(51, 111, 202); /* 青色に変更 */
    transition: color 0.3s ease; /* なめらかな色の変化 */
}
.list-group li {
    background-color: #fff;
}

.main-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 検索窓 */
.error-msg-search{
    color: rgb(251, 48, 48);
    margin-bottom: 0;
}
.form-wrapper {
    max-width: 800px;
}
.keyword {
    width: 60% !important; 
    min-width: 30rem !important;
}
.search-content {
    display: flex; 
    flex-wrap: nowrap;
    align-items: center; 
    gap: 0.1rem;
    margin-bottom: 0.5rem;
}
.search-content p {
    margin: 0; /* デフォルトの余白をリセット */
}
.search-content .checkbox {
    display: flex; 
    align-items: center; 
    gap: 0.1rem; /* チェックボックスとラベルの間にスペースを追加 */
    margin-right: 0.2rem; 
}
.form-control{
    background: #ffffff !important;
}
.form-select{
    background-color: #fff !important;
    height: fit-content !important;
}

/* ページネーション */
.pagination {
    margin-bottom: 0 !important;
}