.brand-link {
    text-decoration: none;
}
td a{
    text-decoration: none;
    color: rgb(119, 119, 194);
    font-weight: bold;
}

.select-item{
    cursor: pointer;
}



/* 一覧チェックボックス */
.delete-check{
    transform: scale(1.2);
    margin-left: 1rem;
}
.user-check{
    transform: scale(1.2);
    margin-left: 1rem;
}
/* 登録・更新フォーム */
.validation-mark{
    color: red ;
}

/* 戻るボタン */
.btn-back {
    width: fit-content;
	padding: 0.5rem 1rem;
	background: #acacac;
	color: #fff;
    text-decoration: none;
    border: none;
	border-radius: 10px;
	transition: 0.15s;
}
.btn-back:hover {
	background: #7a7a7a;
	color: #fff;
}

/* 検索窓 */
.error-msg-search{
    color: rgb(251, 48, 48);
    margin: 0;
}
.form-wrapper {
    max-width: 800px !important;
}
.keyword {
    width: 60% !important; 
    min-width: 30rem !important;
}
.search-content {
    display: flex; 
    flex-wrap: nowrap ;
    align-items: center ; 
    gap: 0.1rem ;
    margin-bottom: 0.5rem ;
}
.search-content p {
    margin: 0 ; /* デフォルトの余白をリセット */
}
.search-content .checkbox {
    display: flex; 
    align-items: center; 
    text-align: center;
    gap: 0.1rem; /* チェックボックスとラベルの間にスペースを追加 */
    margin-right: 0.2rem; 
}
.form-select{
    background-color: #fff !important;
    height: fit-content !important;
    width: fit-content !important;
}
.form-date{
    width: fit-content !important;
}
.check-label {
    font-weight: normal !important;
    margin: 0 !important;
 }
.form-control{
    background: #ffffff !important;
}

/* 
    商品登録・編集画面 
*/
.card {
    max-width: 60rem;
}
.form-group-clm{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.form-group-clm div p{
    margin: 0 !important;
}
.form-group-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.form-title {
    display: inline-flex;
    margin: 0 0.2rem 0 0.2rem;
    width: 4.5rem;
}
.form-label {
    margin: 0 !important;
}
textarea {
    min-height: 5rem !important;
}
    /* ストック関連のフォーム */
.stock-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.stock-unit{
    margin: 0 0 0 0.3rem !important;
    align-self: self-end;
}
.stock-title {
    display: inline-flex;
    margin: 0 0.5rem 0 0.2rem;
    width: fit-content;
}
.stock-num{
    width: 4rem !important;
}
.readonly {
    background-color: #ebebeb !important;
}
    /* 画像追加 */
.file-btn{
    pointer-events: none;
}
.file-btn::file-selector-button:hover{
    pointer-events: auto;
    cursor: pointer;
    background-color: #7a7a7a;
}
.file-btn::file-selector-button{
    pointer-events: auto;
    color: white;
    background: #acacac;
    font-size: 14px;
    border: 0;
    border-radius: 10px;
    padding: 8px 16px;
    text-align: center;
	transition: 0.15s;
}
    /* 画像表示 */
/* 通常時の画像 */
.item-label img {
    display: block;
    cursor: pointer;
    max-width: 15rem;
    width: 100%;
    max-height: 15rem;
    height: 100%;
    object-fit: cover;
    padding: 0.2rem;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.15s ease-in-out;
}
/* チェック時の画像 */
.image-check input[type="checkbox"]:checked + .item-label img {
    background-color: #ffffff;
    filter: brightness(50%);
}
.item-label{
    position: relative;
}
.item-label:hover img {
    background-color: #ffffff;
    filter: brightness(50%);
}
.item-label:hover p {
    opacity: 1;
}
.item-label p{
    opacity: 0;
    cursor: pointer;
    position: absolute;/*重ねたい子要素にabsolute*/
    top:50%;
    left: 50%;
   -ms-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    -webkit-transform: translate(-50%,-50%);/*ベンダープレフィックス*/
    transform: translate(-50%,-50%);/*センター寄せの修正*/
    color: #fff;
    font-size: 1.8rem;
    margin: 0!important;/*文字がずれている場合や*/
    padding: 0!important;/*文字が折り返される場合*/
    transition: 0.15s ease-in-out;
}
.item-label p:hover{
    opacity: 1;
}
.image-check input[type="checkbox"]:checked + .item-label p{
   opacity: 1;
}

    /* メモ関連 */
.form-memo {
    margin: 1rem 0 0.5rem 0;
}
.form-memo label{
    min-width: 2.5rem;
}

    /* 詳細画面 */
.detail-textarea {
    width: 100%;
    padding: 0 0.2rem;
    line-break: strict;
}

/*
    ユーザー編集・登録画面
*/
form p{
    margin: 0 !important;
}
.form-group {
    display: flex;
    align-items: center;
    text-align: center;
}

/* ソート機能 */
th.sort-link a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/* ページネーション */
.pagination {
    margin-bottom: 0 !important;
}

/* ログ */
.logs-area {
    overflow-y: auto;
    height: 10rem;
    width: 100%;
    max-width: 60rem;
}
.logs-area::-webkit-scrollbar {
    width: 0.3rem;
    background: #b1b1b1;
    border-radius: 10px;
  }
.logs-area::-webkit-scrollbar-thumb {
    background-color: #717171;

    border-radius: 10px;
  }
.logs-area::-webkit-scrollbar-thumb:hover {
    background-color: rgb(223, 223, 223);
  }
.log-area {
    width: 100%;
    max-width: 60rem;
    border-bottom: solid 1px rgb(222, 222, 222);
    margin-bottom: 0.5rem;
    padding: 0 0.5rem 0.2rem 0.5rem;
}
.log-area p{
    margin: 0;
}


/*
 * Slick用
 */
 .slick-images {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 0%;
 }
 .slick-prev:before,
 .slick-next:before{
	color: rgb(0, 0, 0) !important;
 }
 .slick-detail-images {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 0%;
 }
 .slick-detail-images img{
    height: 16rem;
    max-width: 24rem;
    margin: 0.5rem 1.5rem;
    padding: 0.2rem;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px #eeeeee;
    background-color: #fff;
 }
 