.delete-check{
    transform: scale(1.2);

}

td a{
    color: rgb(119, 119, 194);
    font-weight: bold;
}

.select-item{
    cursor: pointer;
}

/* 登録・更新フォーム */
.validation-mark{
    color: red ;
}
.detail-area{
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 200px; /* 最大幅を設定 */
    white-space: nowrap; /* テキストを折り返さない */
    overflow: hidden; /* はみ出たテキストを隠す */
    text-overflow: ellipsis; /* はみ出た部分に省略記号を表示 */
}

/* 戻るボタン */
.btn-back {
    width: fit-content;
	padding: 0.5rem 1rem;
	background: #acacac;
	color: #fff;
    border: none;
	border-radius: 10px;
	transition: 0.15s;
}
.btn-back:hover {
	background: #7a7a7a;
	color: #fff;
}