
.brand-link {
    text-decoration: none;
}
td a{
    text-decoration: none;
    color: rgb(119, 119, 194);
    font-weight: bold;
}

.select-item{
    cursor: pointer;
}

/* 一覧チェックボックス */
.delete-check{
    transform: scale(1.2);
    margin-left: 1rem;
}
.user-check{
    transform: scale(1.2);
    margin-left: 1rem;
}
/* 登録・更新フォーム */
.validation-mark{
    color: red ;
}

/* 戻るボタン */
.btn-back {
    width: fit-content;
	padding: 0.5rem 1rem;
	background: #acacac;
	color: #fff;
    text-decoration: none;
    border: none;
	border-radius: 10px;
	transition: 0.15s;
}
.btn-back:hover {
	background: #7a7a7a;
	color: #fff;
}

/* 検索窓 */
.error-msg-search{
    color: rgb(251, 48, 48);
    margin: 0;
}
.form-wrapper {
    max-width: 800px !important;
}
.keyword {
    width: 60% !important; 
    min-width: 30rem !important;
}
.search-content {
    display: flex; 
    flex-wrap: nowrap ;
    align-items: center ; 
    gap: 0.1rem ;
    margin-bottom: 0.5rem ;
}
.search-content p {
    margin: 0 ; /* デフォルトの余白をリセット */
}
.search-content .checkbox {
    display: flex; 
    align-items: center; 
    text-align: center;
    gap: 0.1rem; /* チェックボックスとラベルの間にスペースを追加 */
    margin-right: 0.2rem; 
}
.form-select{
    background-color: #fff !important;
    height: fit-content !important;
    width: fit-content !important;
}
.form-date{
    width: fit-content !important;
}
.check-label {
    font-weight: normal !important;
    margin: 0 !important;
 }
.form-control{
    background: #ffffff !important;
}

/* 
    商品登録・編集画面 
*/
.card {
    max-width: 60rem;
}
.form-group-clm{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.form-group-clm div p{
    margin: 0 !important;
}
.form-group-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.form-title {
    display: inline-flex;
    margin: 0 0.2rem 0 0.2rem;
    width: 4.5rem;
}
.form-label {
    margin: 0 !important;
}
textarea {
    min-height: 5rem !important;
}
    /* ストック関連のフォーム */
.stock-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.stock-unit{
    margin: 0 0 0 0.3rem !important;
    align-self: self-end;
}
.stock-title {
    display: inline-flex;
    margin: 0 0.5rem 0 0.2rem;
    width: fit-content;
}
.stock-num{
    width: 4rem !important;
}
    /* メモ関連 */
.form-memo {
    margin: 1rem 0 0.5rem 0;
}
.form-memo label{
    min-width: 2.5rem;
}

/*
    ユーザー編集・登録画面
*/
form p{
    margin: 0 !important;
}
.form-group {
    display: flex;
    align-items: center;
    text-align: center;
}


/* ページネーション */
.pagination {
    margin-bottom: 0 !important;
}

/* ログ */
.log-area {
    width: 100%;
    max-width: 60rem;
    border-bottom: solid 1px rgb(95, 95, 95);
    margin-bottom: 0.5rem;
    padding: 0 0.5rem 0.2rem 0.5rem;
}
.log-area p{
    margin: 0;
}